body{
    margin: 0px;
    font-family: sans-serif;
}

.header{
    background-color: royalblue;
    height: 50px;
    font-size: 2em;
    color: white;
    padding: 20px;
}

.todoform{
     width: 100%;
     margin: auto;
     margin-top: 20px;
}

.todoinput{
    width: 100%;
    border: none;
    border-bottom: 1px whitesmoke;
    font-size: 1.5em;
    text-align: center;
    height: 50px;
}

.todobutton{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1.2em;
    background-color: tomato;
    color: white;
    margin-top: 10px;
}

